<div id="messages">
<% Object.keys(messages).forEach(function (type) { %>
  <div class="alert alert-<%= type %>">
  <% messages[type].forEach(function (message) { %>
    <p><%= message %></p>
  <% }) %>
  </div>
<% }) %>
</div>


<script type="text/javascript">
  document.getElementById('settings').className = 'active tab-pane';
  document.getElementById('timeline').className = 'tab-pane';
</script>
